#imgbg {
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

p {
    font-size: 1.5em;
}

section {
    margin: 2%;
}
.hidden {
    opacity: 0;
}
@media screen and (min-width: 600px) {
    .text {
        display: flex;
        justify-content: space-between;
    }
}